# Dependencies
**/node_modules
**/.pnp
.pnp.js

# Build
**/dist
**/dist-ssr
**/build
**/coverage
**/.output

# Environment variables
**/.env
**/.env.*
!**/.env.example

# Logs
**/logs
**/*.log
**/npm-debug.log*
**/pnpm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
**/.idea
**/.DS_Store
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?

# Cache
**/.eslintcache
**/.stylelintcache
**/vite_cache
**/.temp
**/.tmp
**/.cache

# Testing
**/coverage
**/.nyc_output

# Typescript
**/*.tsbuildinfo
